.ipynb_checkpoints
KPMG.pbix
*.txt
sub
customerData.csv
newData.xlsx
*.docx
~$WRL3325.tmp
~$Notes.docx
*.xml
__pycache__
*.pyc
.idea
*.csv
*.xlsx
article1.pdf
clustering.ipynb
analysis.pdf
Analysis.ipynb